@model IEnumerable<NotificationItemViewModel>

@{
    var canInteract = User.Identity.IsAuthenticated;

    Layout = null;

    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "You have no Notifications!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["notifications"] : (string)ViewData["ListDescription"];
}

<div class="bg-light pt-2">
    <div class="col-12">
        <h2>@SharedLocalizer[description]<span class="float-right">@Model.Count()</span></h2>
    </div>

    @if (!Model.Any())
    {
        <partial name="_ListNoItems" model="noItemsModel" />
    }
    else
    {
        <div class="col-12 bg-white square-top table-responsive pb-1">
            <table class="table table-hover">
                <caption class="sr-only">@SharedLocalizer["Your notifications"]</caption>
                <thead>
                    <tr class="text-capitalize">
                        <th scope="col" class="text-center">@SharedLocalizer["read"]</th>
                        <th scope="col" class="text-center">@SharedLocalizer["date"]</th>
                        <th scope="col">@SharedLocalizer["text"]</th>
                        <th scope="col" class="text-right">@SharedLocalizer["actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row-clickable">
                            <td class="text-center">@(Html.Raw(item.IsRead ? @"<i class=""fas fa-fw fa-check text-warning aria-hidden=""true""></i>" : string.Empty))</td>
                            <td class="text-center">@item.CreateDate.ToString()</td>
                            <td><span>@item.Text</span></td>
                            <td class="text-right">
                                <div class="btn-group  text-capitalize" role="group">
                                    <a href="@item.Url" class="btn btn-sm btn-outline-info my-1"><span class="text-nowrap"><i class="fas fa-fw fa-eye" aria-hidden="true"></i> @SharedLocalizer["go there"]</span></a>
                                    @if (canInteract)
                                    {
                                        <a class="btn btn-sm btn-danger my-1 btn-notification-delete" href="#" data-url="@Url.Action("delete", "notification", new { area = "member", id = item.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Notification?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]"><i class="fas fa-fw fa-trash-alt" aria-hidden="true"></i> @SharedLocalizer["delete"]</a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>