@model IEnumerable<GiveawayListItemVo>

@{ Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "What? You don't have Giveaways!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["giveaways"] : (string)ViewData["ListDescription"]; }

<div class="col-12">
    <h2>@SharedLocalizer[description]</h2>
</div>

@if (!Model.Any())
{
<partial name="_ListNoItems" model="noItemsModel" /> }
            else
            {
<div class="col-12 bg-white">
    <table class="table">
        <caption class="sr-only">@SharedLocalizer["The available giveaways."]</caption>
        <thead>
            <tr>
                <th scope="col">@SharedLocalizer["Name"]</th>
                <th scope="col">@SharedLocalizer["Participants"]</th>
                <th scope="col">@SharedLocalizer["Created"]</th>
                <th scope="col">@SharedLocalizer["Status"]</th>
                <th scope="col" class="text-right">@SharedLocalizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td><a asp-area="tools" asp-controller="giveaway" asp-action="details" asp-route-id="@item.Id"><span>@item.Name</span></a></td>
    <td><a asp-area="tools" asp-controller="giveaway" asp-action="details" asp-route-id="@item.Id"><span>@item.ParticipantCount</span></a></td>
    <td>@item.CreateDate</td>
    <td>@item.Status</td>
    <td class="text-right">
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-info btn-megaphone my-1" href="#"><i class="fas fa-bullhorn" aria-hidden="true"></i>Promote</a>
            <button class="btn btn-sm btn-outline-info dropdown-toggle my-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu dropdown-menu-right btn-sm p-1" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-30px, 38px, 0px);">
                <a asp-area="tools" asp-controller="giveaway" asp-action="edit" asp-route-id="@item.Id" class="dropdown-item btn-edit py-2">Edit</a>
                <a class="dropdown-item btn-duplicate py-2 btn-giveaway-duplicate" href="#">Duplicate</a>
                <a asp-area="tools" asp-controller="giveaway" asp-action="details" asp-route-id="@item.Id" class="dropdown-item btn-view py-2" target="_blank">View</a>
                <a class="dropdown-item text-danger btn-trash py-2 btn-giveaway-delete" href="#" target="_blank">Delete</a>
            </div>
        </div>
    </td>
</tr>
}
        </tbody>
    </table>
</div>}