@model IEnumerable<GiveawayParticipantViewModel>

@{ Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "What? You don't have Giveaways!");

    var listTitle = ViewData["ListTitle"] == null ? SharedLocalizer["participants"] : (string)ViewData["ListTitle"];


    var giveawayId = ViewData["giveawayId"] == null ? string.Empty : ViewData["giveawayId"].ToString();
}


<div class="bg-light pt-2">
    <div class="col-12">
        <h2>@SharedLocalizer[listTitle]<span class="float-right">@Model.Count()</span></h2>
    </div>

    @if (!Model.Any())
    {
        <partial name="_ListNoItems" model="noItemsModel" />
    }
            else
            {
<div class="col-12 bg-white square-top table-responsive">
    <table class="table">
        <caption class="sr-only">@SharedLocalizer["The available giveaways."]</caption>
        <thead>
            <tr>
                <th scope="col" class="text-center">&nbsp;</th>
                <th scope="col">@SharedLocalizer["Email"]</th>
                <th scope="col" class="text-center">@SharedLocalizer["GDPR"]</th>
                <th scope="col" class="text-center">@SharedLocalizer["Notifications"]</th>
                <th scope="col" class="text-center">@SharedLocalizer["Joined"]</th>
                <th scope="col" class="text-center">@SharedLocalizer["Entries"]</th>
                <th scope="col" class="text-right">@SharedLocalizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">@(Html.Raw(item.IsWinner ? @"<i class=""fas fa-fw fa-trophy text-warning aria-hidden=""true""></i>" : string.Empty))</td>
                <td>@item.Email@(Html.Raw(item.EmailVerified ? @" <i class=""fas fa-fw fa-check text-muted aria-hidden=""true"" title=""Verified Email""></i>" : string.Empty))</td>
                <td class="text-center"><i class="@(item.GdprConsent ? "far fa-fw fa-check-circle text-success" : "fas fa-fw fa-ban text-danger")" aria-hidden="true"></i></td>
                <td class="text-center"><i class="@(item.WantNotifications ? "far fa-fw fa-check-circle text-success" : "fas fa-fw fa-ban text-danger")" aria-hidden="true"></i></td>
                <td class="text-center">@item.CreateDate.ToShortDateString()</td>
                <td class="text-center">@item.Entries.Count</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-outline-danger btn-participant-delete" data-url="@Url.Action("deleteparticipant", "giveaway", new { area = "tools", giveawayId = giveawayId, participantId = item.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Participant?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]"><i class="fas fa-fw fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>}
</div>