@model IEnumerable<GiveawayParticipantViewModel>

@{
    Layout = null;
    var noItemsModel = new ListNoItemsViewModel("fas fa-sad-cry", "Boo... No one entered your giveaway... yet!", false);

    var listTitle = ViewData["ListTitle"] == null ? SharedLocalizer["participants"] : (string)ViewData["ListTitle"];

    var giveawayId = ViewData["giveawayId"] == null ? string.Empty : ViewData["giveawayId"].ToString();
}

<div class="bg-light pt-2">
    <div class="col-12 text-capitalize">
        <h2>@SharedLocalizer[listTitle]<span class="float-right">@Model.Count()</span></h2>
    </div>

    @if (!Model.Any())
    {
        <partial name="_ListNoItems" model="noItemsModel" />
    }
    else
    {
        <div class="col-12 bg-white square-top table-responsive pb-1">
            <table id="tblParticipants" class="table table-hover">
                <caption class="sr-only">@SharedLocalizer["This giveaway participants"]</caption>
                <thead>
                    <tr class="text-uppercase">
                        <th scope="col" class="text-center">&nbsp;</th>
                        <th scope="col">@SharedLocalizer["email"]</th>
                        <th scope="col" class="text-center">@SharedLocalizer["GDPR"]</th>
                        <th scope="col" class="text-center">@SharedLocalizer["notifications"]</th>
                        <th scope="col" class="text-center">@SharedLocalizer["joined"]</th>
                        <th scope="col" class="text-center">@SharedLocalizer["entries"]</th>
                        <th scope="col" class="text-right">@SharedLocalizer["actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@(Html.Raw(item.IsWinner ? @"<i class=""fas fa-fw fa-trophy text-warning aria-hidden=""true""></i>" : string.Empty))</td>
                            <td>@item.Email@(Html.Raw(item.EmailVerified ? String.Format(@" <i class=""fas fa-fw fa-check text-muted aria-hidden=""true"" title=""{0}""></i>", SharedLocalizer["Verified Email"]) : string.Empty))</td>
                            <td class="text-center"><i class="@(item.GdprConsent ? "far fa-fw fa-check-circle text-success" : "fas fa-fw fa-ban text-danger")" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="@(item.WantNotifications ? "far fa-fw fa-check-circle text-success" : "fas fa-fw fa-ban text-danger")" aria-hidden="true"></i></td>
                            <td class="text-center">@item.CreateDate.ToShortDateString()</td>
                            <td class="text-center">@item.Entries.Count</td>
                            <td class="text-right">
                                @if (item.IsWinner)
                                {
                                    <button class="btn btn-sm btn-participant-declarenotwinner p-0" data-url="@Url.Action("declarenotwinner", "giveaway", new { area = "tools", giveawayId = giveawayId, participantId = item.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to declare {0} not a winner?", item.Email]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, I am sure!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]" title="@SharedLocalizer["Declare {0} not a winner", item.Email]">
                                        <span class="fa-stack">
                                            <i class="fas fa-trophy fa-stack-1x"></i>
                                            <i class="fas fa-ban fa-stack-2x text-danger"></i>
                                        </span>
                                    </button>
                                }
                                <button class="btn btn-sm btn-outline-danger btn-participant-delete" data-url="@Url.Action("deleteparticipant", "giveaway", new { area = "tools", giveawayId = giveawayId, participantId = item.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to remove {0} from this giveaway?", item.Email]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]" title="@SharedLocalizer["Remove {0} from this giveaway", item.Email]"><i class="fas fa-fw fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div class="d-none">
    <table id="tblParticipantsExport" class="table table-hover">
        <thead>
            <tr class="text-uppercase">
                <th scope="col" class="text-center">winner</th>
                <th scope="col">email</th>
                <th scope="col">verified</th>
                <th scope="col" class="text-center">GDPR</th>
                <th scope="col" class="text-center">notifications</th>
                <th scope="col" class="text-center">joined</th>
                <th scope="col" class="text-center">entries</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@(item.IsWinner ? "x" : string.Empty)</td>
                    <td>@item.Email</td>
                    <td>@(item.EmailVerified ? "x" : string.Empty)</td>
                    <td class="text-center">@(item.GdprConsent ? "x" : string.Empty)</td>
                    <td class="text-center">@(item.WantNotifications ? "x" : string.Empty)</td>
                    <td class="text-center">@item.CreateDate.ToShortDateString()</td>
                    <td class="text-center">@item.Entries.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>