@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    if (isAjax)
    {
        Layout = null;
    }

    ViewData["Title"] = SharedLocalizer["Giveaway"];
    ViewData["Description"] = SharedLocalizer["Manage Viral Giveaways"];
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("index", "giveaway", new { area = "tools" });
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/giveaway.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/giveaway.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/giveaway/giveawaycommon.js"></script>
        <script src="~/js/giveaway/giveaway.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/giveaway/giveaway.min.js" asp-append-version="true"></script>
    </environment>
}

@section TranslatedMessages {
    <span class="msg" data-msg-id="msgUrlPlaceholder">@SharedLocalizer["placeholder message"]</span>
}

<div id="featurecontainer" class="col-12 container">
    <input type="hidden" id="isajax" value="@isAjax.ToString().ToLower()" />
    <input type="hidden" id="caninteract" value="@canInteract.ToString().ToLower()" />
    <input type="hidden" id="urls" value="urls"
           data-url-list="@Url.Action("listbyme", "giveaway", new { area = "tools" })"
           data-url-mine="@Url.Action("listmine", "giveaway", new { area = "tools" })" />

    <div id="containerlist" class="row">
        <div class="col-12 mb-2">
            <h1><i class="fas fa-fw fa-ticket-alt" aria-hidden="true"></i> @ViewData["Title"]</h1>
        </div>
        <div class="col-12 mb-3">
            @if (canInteract)
            {
                <div class="col-lg-12 mb-2 p-0 text-right">
                    <a asp-area="tools" asp-controller="giveaway" asp-action="add" class="btn btn-success">@SharedLocalizer["New Giveaway"] <i class="fas fa-plus" aria-hidden="true"></i></a>
                </div>
            }
            <div id="divList"></div>
        </div>
    </div>
</div>