@model ComicStripViewModel

@{
    Layout = null;

    ViewData["Title"] = SharedLocalizer["{0} Comics", (Model.Id == Guid.Empty ? "New" : "Edit")];

    var isNew = Model.Id == Guid.Empty;
}

<h1 class="sr-only">@ViewData["Title"]</h1>

<div class="box bg-white">

    <div class="box-header with-border">
        <div class="float-left mr-3">
            <a asp-area="member" asp-controller="comics" asp-action="index" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
        <h3 class="card-title">@SharedLocalizer["You are {0} a Comics", (Model.Id == Guid.Empty ? SharedLocalizer["creating"] : SharedLocalizer["editing"])]</h3>
        <span class="card-subtitle">
            @SharedLocalizer["Tell us about the Comics."]
        </span>
        @if (!isNew)
        {
            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn  btn-box-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right btn-sm p-1" x-placement="bottom-start" style="position: absolute; transform: translate3d(-67px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        @if (Model.Permissions.CanDelete)
                        {
                            <a class="dropdown-item" asp-area="member" asp-controller="comics" asp-action="details" asp-route-id="@Model.Id" target="_blank">@SharedLocalizer["view"]</a>
                            <a class="dropdown-item btn-comics-delete" href="#" data-url="@Url.Action("delete", "comics", new { area = "member", id = Model.Id, edit = true })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Comics?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]">@SharedLocalizer["delete"]</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="box-body p-0 px-md-2">
        <form id="frmComicsSave" asp-area="member" asp-controller="comics" asp-action="save" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="FeaturedImage" />
            <input type="hidden" asp-for="SeriesId" />

            <div class="row">
                <div class="col-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label asp-for="IssueNumber" class="col-form-label"></label>
                        <span asp-description-for="IssueNumber" class="col-form-label"></span>
                        <input asp-for="IssueNumber" class="form-control" placeholder="@SharedLocalizer["Choose the issue number"]" />
                        <span asp-validation-for="IssueNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-5">
                    <div class="form-group">
                        <label asp-for="PublishDate" class="col-form-label"></label>
                        <div class="input-group">
                            <input asp-for="PublishDate" type="text" class="form-control datetimepicker-input" data-target="#PublishDate" aria-describedby="publishDateAddon" placeholder="@SharedLocalizer["When this comic strip should published"]" />
                            <div class="input-group-append" data-target="#PublishDate" data-toggle="datetimepicker" title="@SharedLocalizer["Select the start date."]">
                                <span class="input-group-text" id="publishDateAddon"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="form-group">
                        <label asp-for="Language" class="col-form-label"></label>
                        <span asp-description-for="Language" class="col-form-label"></span>
                        <input asp-for="Language" class="form-control" placeholder="@SharedLocalizer["The comic strip language"]" readonly />
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Title" class="col-form-label"></label>
                        <span asp-description-for="Title" class="col-form-label"></span>
                        <input asp-for="Title" class="form-control" placeholder="@SharedLocalizer["Type the comic strip title here"]" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Content" class="col-form-label"></label>
                        <span asp-description-for="Content" class="col-form-label"></span>
                        <textarea asp-for="Content" class="form-control" placeholder="@SharedLocalizer["Describe the comic strip here"]"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>

                @for (int i = 0; i < Model.Media.Count; i++)
                {
                    var imageTarget = string.Format("img_{0}", i);

                    <div class="col-md-12 text-center px-5">
                        <div class="form-group">
                            <label class="col-form-label">@SharedLocalizer["Image in {0}", Model.Media[i].Language]</label>
                        </div>
                        <div class="dropzone">
                            <img class="comicstripimage rounded img-fluid border" id="@imageTarget" src="@Model.Media[i].Url" alt="Featured Image @i">
                        </div>

                        <div class="col-12 text-center">
                            <label class="btn btn-outline-secondary">
                                <i class="fas fa-fw fa-upload" aria-hidden="true"></i>
                                <span>@SharedLocalizer["change"]</span>
                                <input type="hidden" asp-for="Media[i].Language" />
                                <input type="hidden" asp-for="Media[i].Url" />
                                <input type="file" class="sr-only comicstripimageinput" accept="image/*" data-target-img="@imageTarget" data-target-hidden="@String.Format("Media_{0}__Url", i)">
                            </label>
                        </div>
                    </div>
                }

                <div class="col-12 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8 mt-2 mb-2">
                    <button type="button" id="btnSaveComics" class="btn btn-lg btn-primary btn-block" data-error-msg="<i class='fas fa-exclamation-circle' aria-hidden='true'></i> @SharedLocalizer["Something is missing!"]"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalCrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container p-10">
                    <img id="cropperImage" src="@Model.FeaturedImage" class="img-fluid" alt="@Model.Title">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="crop">Crop</button>
            </div>
        </div>
    </div>
</div>