@model ComicStripViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Content.Contains(SharedLocalizer["Content posted on"]) ? SharedLocalizer["Content posted on"] + " " + Model.CreateDate.ToString() : String.Format("{0} - {1}", Model.Title, Model.Content);
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "comics", new { area = "member", id = Model.Id });
    ViewData["OgImage"] = Model.FeaturedImage;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.css">
        <link href="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.css" media="all" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.min.css">
        <link href="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.min.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/comics.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {

    <environment include="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
        <script src="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
        <script src="~/js/comics/comicsdetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.min.js"></script>
        <script src="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
        <script src="~/js/comics/comicsdetails.min.js" asp-append-version="true"></script>
    </environment>

    <script type="application/ld+json">
        {
        "@@context":"http://schema.org",
        "@@type":"SocialMediaPosting",
        "@@id":"@(ViewData["Url"])",
        "headline":"@(JavaScriptEncoder.Default.Encode(Model.Title))",
        "image": "@(ViewBag.BaseUrl + Model.FeaturedImage)",
        "datePublished": "@Model.CreateDate.ToString("yyyy-MM-dd")",
        "issueNumber": "@Model.IssueNumber",
        "author":{
        "@@type":"Person",
        "name":"@Model.AuthorName",
        "url":"@(ViewBag.BaseUrl + "/profile/" + Model.UserId)"
        },
        "sharedContent":{
        "@@type":"WebPage",
        "headline":"@(JavaScriptEncoder.Default.Encode(Model.Content))",
        "url":"@(ViewData["Url"])",
        "image": "@Model.FeaturedImage",
        "author":{
        "@@type":"Person",
        "name":"@Model.AuthorName"
        }
        }
        }
    </script>
}

<section class="content container">
    <div class="box box-content p-0 bg-white">
        <h1 data-language="@Model.Language" class="float-left sr-only">
            @Model.Title
        </h1>

        @if (Model.Images.Count > 1)
        {
            <div class="col-12 px-0 pt-1 text-center">
                <div class="btn-group btn-group-sm btn-group-toggle" role="group" aria-label="Basic example">
                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        var image = Model.Images.ElementAt(i);

                        <button class="btn btn-outline-info btn-changelanguage" data-target="@(String.Format("img-{0}", image.Language.ToString().ToLower()))">@SharedLocalizer[image.Language.ToDisplayName()]</button>
                    }
                </div>
            </div>
        }

        @for (int i = 0; i < Model.Images.Count; i++)
        {
            var image = Model.Images.ElementAt(i);

            <div class="box-body text-center overflow-hidden square-bottom px-0 img-multilanguage@(image.Image.Equals(Model.FeaturedImage) ? string.Empty : " d-none") @(String.Format("img-{0}", image.Language.ToString().ToLower()))">
                <img data-src="@image.Image" src="@image.ImageLquip" class="img-fluid lazyload blur-up" style="width:100%" alt="@(String.IsNullOrWhiteSpace(Model.Title) ? Model.Content : Model.Title)" />
            </div>
        }

        <div class="box-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="user-block">
                        <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                            <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
                        </a>
                        <a asp-area="" asp-controller="profile" asp-action="details" asp-route-id="@Model.UserId">
                            <span class="username">@Model.AuthorName</span>
                        </a>
                        <a asp-area="member" asp-controller="comics" asp-action="details" asp-route-id="@Model.Id">
                            <span class="description">@Model.CreateDate.ToString()</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-right">
                    <div class="px-2">
                        <input id="txtRating" name="Rating" type="number" class="d-none comics-rating" step="1" value="@Model.TotalRating.ToString(new System.Globalization.CultureInfo("en-US"))" data-url="@Url.Action("rate", "comics", new { area = "member", id = Model.Id })">
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="box-body">
            @Html.Raw(Model.Content)
        </div>

        <partial name="_CommentSection" model="Model" />
    </div>
</section>