@model ComicStripViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Content.Contains(SharedLocalizer["Content posted on"]) ? SharedLocalizer["Content posted on"] + " " + Model.CreateDate.ToString() : String.Format("{0} | LUDUSTACK", Model.Content);
    ViewData["Url"] = ViewData["BaseUrl"] + Url.Action("details", "comics", new { area = "member", id = Model.Id });
    ViewData["OgImage"] = Model.FeaturedImage;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.css">
        <link href="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/comics.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-star-rating/css/star-rating.min.css">
        <link href="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.min.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/comics.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {

    <environment include="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
        <script src="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.js"></script>
        <script src="~/js/shared/contentactions.js"></script>
        <script src="~/js/comics/comicsdetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.min.js"></script>
        <script src="~/lib/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
        <script src="~/js/comics/comicsdetails.min.js" asp-append-version="true"></script>
    </environment>

    <script type="application/ld+json">
        {
        "@@context":"http://schema.org",
        "@@type":"ComicSeries",
        "@@id":"@(ViewData["Url"])",
        "name": "@(JavaScriptEncoder.Default.Encode(Model.Title))",
        "description":"@(JavaScriptEncoder.Default.Encode(Model.Content))",
        "image": "@(ViewData["BaseUrl"] + Model.FeaturedImage)",
        "datePublished": "@Model.PublishDate.ToString("yyyy-MM-dd")",
        "issueNumber": "@Model.IssueNumber",
        "author":{
        "@@type":"Person",
        "name":"@Model.AuthorName",
        "url":"@(ViewData["BaseUrl"] + "/u/" + Model.UserHandler)"
        }
        }
    </script>
}

<section class="content container">
    <div class="box box-content p-0 bg-white contentitem htmlcontent">
        <h1 data-language="@Model.Language" class="float-left sr-only">
            @Model.Title
        </h1>

        @if (Model.Media.Count > 1)
        {
            <div class="col-12 px-0 pt-1 text-center">
                <div class="btn-group btn-group-sm btn-group-toggle" role="group" aria-label="Basic example">
                    @for (int i = 0; i < Model.Media.Count; i++)
                    {
                        var image = Model.Media.ElementAt(i);

                        <button class="btn btn-outline-info btn-changelanguage" data-target="@(String.Format("img-{0}", (image.Language ?? SupportedLanguage.English).ToString().ToLower()))">@SharedLocalizer[(image.Language ?? SupportedLanguage.English).ToDisplayName()]</button>
                    }
                </div>
            </div>
        }

        @for (int i = 0; i < Model.Media.Count; i++)
        {
            var image = Model.Media.ElementAt(i);

            <div class="square-bottom text-center overflow-hidden px-0 img-multilanguage@(image.Url.Equals(Model.FeaturedImage) ? string.Empty : " d-none") @(String.Format("img-{0}", image.Language.ToString().ToLower())) @(Model.Media.Count == 1 ? string.Empty : "square-top")">
                <img data-src="@image.Url" src="@image.UrlLquip" class="img-fluid lazyload blur-up" style="width:100%" alt="@(String.IsNullOrWhiteSpace(Model.Title) ? Model.Content : Model.Title)" />
            </div>
        }

        <div class="box-body mt-sm-n3 mt-lg-n2">
            <div class="row">
                <div class="col-12 col-lg-6 text-center">
                    <div class="row mx-0 no-gutters bg-dark text-white">
                        <div class="col px-0 mt-1 @(User.Identity.IsAuthenticated ? "col-sm-6" : string.Empty)">
                            <div class="d-flex justify-content-center small">
                                @Model.TotalRating.ToString(new System.Globalization.CultureInfo("en-US"))
                                &nbsp;
                                (@SharedLocalizer["average of {0}", Model.RatingCount])
                            </div>
                            <div class="col-12 col-md px-0">
                                <input id="inputTotalRating" name="Rating" type="number" class="d-none comics-rating" step="1" value="@Model.TotalRating.ToString(new System.Globalization.CultureInfo("en-US"))">
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-12 col-sm-6 px-0">
                                <div class="d-flex justify-content-center small">
                                    <span id="myrating">@Model.CurrentUserRating.ToString(new System.Globalization.CultureInfo("en-US"))</span>
                                    &nbsp;
                                    (@SharedLocalizer["yours"])
                                </div>
                                <div class="col-12 col-md px-0">
                                    <input id="inputUserRating" name="Rating" type="number" class="d-none comics-rating" step="1" value="@Model.CurrentUserRating.ToString(new System.Globalization.CultureInfo("en-US"))" data-url="@Url.Action("rate", "comics", new { area = "member", id = Model.Id })">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="mt-3 col-12 col-lg-3 order-lg-first mb-1">
                    <partial name="_AuthorDetails" model="Model" />
                </div>
            </div>
        </div>

        <hr />

        <div class="box-body">
            @Html.Raw(Model.Content)
        </div>

        <partial name="_CommentSection" model="Model" />
    </div>
</section>