@model ForumPostViewModel
@{
    Layout = null;
}

<div class="postitem bg-white" data-postid="@Model.Id" data-userid="@Model.UserId" data-authorname="@Model.AuthorName" data-currentuservote="@Model.CurrentUserVote">
    <div class="d-flex py-2 px-0 postitemcontainer" id="@string.Format("postitemcontainer-{0}", Model.Id.ToString())">
        <partial name="_ForumPostViewOnly" model="Model" />
    </div>

    <div class="postitemcontaineredit" id="@string.Format("postitemcontaineredit-{0}", Model.Id.ToString())"></div>
</div>