@model ForumPostViewModel
@{
    Layout = null;

    var authorUrl = Url.Action("details", "profile", new { area = string.Empty, userHandler = Model.UserHandler });
    var authorLink = string.Format("<a href=\"{0}\" class=\"boldlink\">{1}</a>", authorUrl, Model.AuthorName);

    var categoryUrl = Url.Action("category", "forum", new { area = "community", handler = Model.CategoryHandler });
    var categoryLink = string.Format("<a href=\"{0}\" class=\"boldlink\">{1}</a>", categoryUrl, Model.CategoryName);
}

<div class="d-flex flex-fill flex-row">
    <div class="d-flex flex-row align-items-start px-1 border-gradient border-right rounded-0 postsidebar">
        <div class="d-flex flex-column">
            <div class="text-center">
                <button class="btn btn-sm p-0 btn-vote btn-vote-up@(Model.CurrentUserVote == VoteValue.Positive ? " text-green": string.Empty)@(User.Identity.IsAuthenticated ? String.Empty : " needlogin")" data-msg-id="msgNeedLoginToVote" aria-pressed="false" aria-label="Up vote" data-vote="@VoteValue.Positive" data-colorclass="text-green" data-toggle="popover" title="@SharedLocalizer["Vote UP if you like this post."]">
                    <svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
                        <path d="M2 26h32L18 10 2 26z"></path>
                    </svg>
                </button>
            </div>

            <div class="text-center">
                <span class="txtScore" data-toggle="popover" title="@SharedLocalizer["This is the calculated score for this post."]">@Model.Score</span>
            </div>

            <div class="text-center">
                <button class="btn btn-sm p-0 btn-vote btn-vote-down@(Model.CurrentUserVote == VoteValue.Negative ? " text-red": string.Empty)@(User.Identity.IsAuthenticated ? String.Empty : " needlogin")" data-msg-id="msgNeedLoginToVote" aria-pressed="false" aria-label="Down vote" data-vote="@VoteValue.Negative" data-colorclass="text-red" data-toggle="popover" title="@SharedLocalizer["Vote DOWN if you don't like this post."]">
                    <svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36">
                        <path d="M2 10h32L18 26 2 10z"></path>
                    </svg>
                </button>
            </div>
            @if (Model.Permissions.CanEdit)
            {
                <div class="text-center">
                    <a asp-area="community" asp-controller="forum" asp-action="postedit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-info btn-post-edit"><i class="fa fa-fw fa-pencil-alt" aria-hidden="true"></i></a>
                </div>
            }
            @if (Model.Permissions.IsAdmin && !Model.Permissions.IsMe)
            {
                <div class="text-center mt-1">
                    <a class="btn btn-sm btn-danger btn-entity-delete" href="#" data-url="@Url.Action("deletepost", "forum", new { area = "community", id = Model.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this post?"]" data-confirmationtitle="@SharedLocalizer["ATTENTION ADMIN!"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></a>
                </div>
            }
            else if (Model.Permissions.CanDelete)
            {
                <div class="text-center mt-1">
                    <a class="btn btn-sm btn-outline-danger btn-entity-delete" href="#" data-url="@Url.Action("deletepost", "forum", new { area = "community", id = Model.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this post?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]"><i class="fa fa-fw fa-trash-alt" aria-hidden="true"></i></a>
                </div>
            }
        </div>
    </div>
    <div class="w-100 px-1 d-flex flex-column postitemcontent">
        @if (Model.ReplyPostId.HasValue)
        {
            <span class="text-info text-right mr-2">@Html.Raw(SharedLocalizer["Replying to {0}", string.Format("<span>{0}</span>", Model.ReplyAuthorName).ToString()])</span>
        }

        <div class="w-100">
            <div class="d-flex flex-column forumpostcontent">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div class="mt-2 d-flex flex-row flex-fill justify-content-end">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="d-flex flex-column justify-content-end mx-1 mr-auto">
                    <button type="button" class="btn btn-sm btn-outline-warning text-nowrap text-capitalize btn-report notimplemented">
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
                            </div>
                            <div class="d-none d-md-block">
                                <span>&nbsp;@SharedLocalizer["report"]</span>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="d-flex flex-column justify-content-end mx-1">
                    <button type="button" class="btn btn-sm btn-success text-capitalize btn-reply">
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <i class="fas fa-fw fa-reply" aria-hidden="true"></i>
                            </div>
                            <div class="d-none d-md-block">
                                <span>&nbsp;@SharedLocalizer["reply"]</span>
                            </div>
                        </div>
                    </button>
                </div>
            }
            <div class="d-flex flex-column justify-content-end mx-1">
                <div class="p-2 author-details text-nowrap">
                    <partial name="_AuthorDetails" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>