@model CostCalculatorViewModel

@{
    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    ViewData["Title"] = SharedLocalizer["Cost Calculator"];
    //ViewData["Description"] = SharedLocalizer["Calculate how much you should charge for freelance jobs."];
    //ViewData["Url"] = ViewBag.BaseUrl + Url.Action("index", "ratecalculator", new { area = "tools" });
    //ViewData["OgImage"] = ViewBag.BaseUrl + "/images/og/ogcostcalculator.png";

    var artStyles = Html.GetEnumSelectList<ArtStyle>();
    var soundStyles = Html.GetEnumSelectList<SoundStyle>();
}

@section ComponentStyles {
    <link rel="stylesheet" href="~/css/rangeslider.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/costcalculator.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/costcalculator.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <script src="~/lib/rangeslider/rangeslider.min.js"></script>
    <environment include="Development">
        <script src="~/lib/moment/moment-with-locales.js"></script>
        <script src="~/js/calculators/costcalculator.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/moment/moment-with-locales.min.js"></script>
        <script src="~/js/calculators/costcalculator.min.js" asp-append-version="true"></script>
    </environment>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<section class="content container">
    <div id="featurecontainer" class="col">
        <input type="hidden" id="urls" value="urls"
               data-url-get-rates="@Url.Action("getrates", "costcalculator")" />

        <h1 class="sr-only">@ViewData["Title"]</h1>

        <div class="box bg-white">
            <div class="box-header with-border">
                <div class="float-left mr-3">
                    <a asp-area="tools" asp-controller="costcalculator" asp-action="index" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </div>
                <h2 class="card-title">@SharedLocalizer["You are calculating the cost of a videogame"]</h2>
                <span class="card-subtitle">
                    @SharedLocalizer["Play around to find how much a game would cost."]
                </span>
            </div>

            <div class="box-body p-0 px-md-2">
                <form id="frmCostCalculator" asp-area="tools" asp-controller="giveaway" asp-action="save" method="post">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label asp-for="ArtStyle" class="col-form-label"></label>
                                <span asp-description-for="ArtStyle" class="col-form-label" />
                                <select asp-for="ArtStyle" asp-items="artStyles" class="form-control user-entry" data-placeholder="@SharedLocalizer["Select the art style"]"></select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label asp-for="SoundStyle" class="col-form-label"></label>
                                <span asp-description-for="SoundStyle" class="col-form-label" />
                                <select asp-for="SoundStyle" asp-items="soundStyles" class="form-control" data-placeholder="@SharedLocalizer["Select the sound style"]"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 no-gutters">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="ConceptArtCount" class="col-form-label"></label>
                                        <span asp-description-for="ConceptArtCount" class="col-form-label" />
                                        <div class="mt-2">
                                            <input type="range" min="0" max="256" step="1" id="ConceptArtCount" name="ConceptArtCount" data-gameelement="@((int)GameElement.ConceptArt)" class="form-control" style="visibility:hidden" value="0" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="CharacterCount" class="col-form-label"></label>
                                        <span asp-description-for="CharacterCount" class="col-form-label" />
                                        <div class="mt-2">
                                            <input type="range" min="0" max="256" step="1" id="CharacterCount" name="CharacterCount" data-gameelement="@((int)GameElement.Character)" class="form-control" style="visibility:hidden" value="0" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="LevelCount" class="col-form-label"></label>
                                        <span asp-description-for="LevelCount" class="col-form-label" />
                                        <div class="mt-2">
                                            <input type="range" min="0" max="256" step="1" id="LevelCount" name="LevelCount" data-gameelement="@((int)GameElement.Level)" class="form-control" style="visibility:hidden" value="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 no-gutters">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="SoundEffectCount" class="col-form-label"></label>
                                        <span asp-description-for="SoundEffectCount" class="col-form-label" />
                                        <div class="mt-2">
                                            <input type="range" min="0" max="256" step="1" id="SoundEffectCount" name="SoundEffectCount" data-gameelement="@((int)GameElement.SoundFx)" class="form-control" style="visibility:hidden" value="0" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="MusicTrackCount" class="col-form-label"></label>
                                        <span asp-description-for="MusicTrackCount" class="col-form-label" />
                                        <div class="mt-2">
                                            <input type="range" min="0" max="256" step="1" id="MusicTrackCount" name="MusicTrackCount" data-gameelement="@((int)GameElement.MusicTrack)" class="form-control" style="visibility:hidden" value="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row mt-2">
                    <div class="col">
                        <button id="btnCalculate" class="btn btn-block btn-success text-uppercase">@SharedLocalizer["calculate"]</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col col-md-6">
                        <h2>@SharedLocalizer["How much this game would cost"]</h2>
                    </div>
                </div>

                <div class="row px-3 text-uppercase">
                    <div class="col-12 px-0 table-responsive">
                        <table class="table table-striped">
                            <caption class="sr-only">@SharedLocalizer["How much this game would cost"]</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="font-weight-bold">&nbsp;</th>
                                    <th scope="col" class="text-right font-weight-bold">@SharedLocalizer["quantity"]</th>
                                    <th scope="col" class="text-right font-weight-bold">@SharedLocalizer["minimum"]</th>
                                    <th scope="col" class="text-right font-weight-bold">@SharedLocalizer["average"]</th>
                                    <th scope="col" class="text-right font-weight-bold">@SharedLocalizer["maximum"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row-concept">
                                    <td>@SharedLocalizer["concepts"]</td>
                                    <td class="text-right"><span id="txtConceptQuantity">0</span></td>
                                    <td class="text-right"><span id="txtConceptMinimum" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtConceptAverage" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtConceptMaximum" class="table-value">-</span></td>
                                </tr>
                                <tr class="row-character">
                                    <td>@SharedLocalizer["characters"]</td>
                                    <td class="text-right"><span id="txtCharacterQuantity">0</span></td>
                                    <td class="text-right"><span id="txtCharacterMinimum" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtCharacterAverage" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtCharacterMaximum" class="table-value">-</span></td>
                                </tr>
                                <tr class="row-level">
                                    <td>@SharedLocalizer["levels"]</td>
                                    <td class="text-right"><span id="txtLevelQuantity">0</span></td>
                                    <td class="text-right"><span id="txtLevelMinimum" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtLevelAverage" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtLevelMaximum" class="table-value">-</span></td>
                                </tr>
                                <tr class="row-soundfx">
                                    <td>@SharedLocalizer["sound fx"]</td>
                                    <td class="text-right"><span id="txtSoundFxQuantity">0</span></td>
                                    <td class="text-right"><span id="txtSoundFxMinimum" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtSoundFxAverage" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtSoundFxMaximum" class="table-value">-</span></td>
                                </tr>
                                <tr class="row-music">
                                    <td>@SharedLocalizer["songs"]</td>
                                    <td class="text-right"><span id="txtMusicQuantity">0</span></td>
                                    <td class="text-right"><span id="txtMusicMinimum" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtMusicAverage" class="table-value">-</span></td>
                                    <td class="text-right"><span id="txtMusicMaximum" class="table-value">-</span></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="alert alert-info">
                                    <td>@SharedLocalizer["This game will cost:"]</td>
                                    <td class="text-right"><span id="txtTotalQuantity">0</span></td>
                                    <td class="text-right"><span id="txtTotalMinimum">-</span></td>
                                    <td class="text-right"><span id="txtTotalAverage">-</span></td>
                                    <td class="text-right"><span id="txtTotalMaximum">-</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="alert alert-warning text-center">@SharedLocalizer["These values come from our database. All LudusStack users can contribute by anonymously publishing their rates so we can keep the values always updated."]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>