@model ForumPostListVo

@{
    var canInteract = User.Identity.IsAuthenticated;

    Layout = null;

    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "There are no Topics here!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["Forum Posts"] : (string)ViewData["ListDescription"];

    Model.Pagination.PaginationMessage = "{0} topics here";
}

@if (!Model.Posts.Any())
{
    <div class="mt-2">
        <partial name="_ListNoItems" model="noItemsModel" />
    </div>
}
else
{
    <div class="ml-2">
        <partial name="_Pagination" model="Model.Pagination" />
    </div>

    <div class="bg-light pt-2 mb-2">
        <div class="row px-3 no-gutters text-uppercase">
            <div class="col-12 col-sm-8 col-md-6">@SharedLocalizer["Title"]</div>
            <div class="col-sm-4 col-md-3 col-lg-1 d-none d-sm-block text-center">@SharedLocalizer["replies"]</div>
            <div class="col-md-3 col-lg-1 d-none d-md-block text-center">@SharedLocalizer["views"]</div>
            <div class="col-4 d-none d-lg-block">@SharedLocalizer["most recent"]</div>
        </div>
        <div class="col-12 square-top p-0 bg-white">
            @for (int i = 0; i < Model.Posts.Count(); i++)
            {
                var item = Model.Posts.ElementAt(i);

                if (i > 0)
                {
                    <hr />
                }

                <div class="rounded-0 forumlistitem">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-8 col-md-6 p-2">
                                <a asp-area="community" asp-controller="forum" asp-action="viewtopic" asp-route-id="@item.Id" class="stretched-link">
                                    @if (item.IsFixed)
                                    {
                                        <div class="position-absolute pinedicon">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x text-success" aria-hidden="true"></i>
                                                <i class="fas fa-stack-1x fa-thumbtack text-white" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    }
                                    <div class="d-flex flex-column align-items-left p-2@(item.IsFixed ? " pl-4" : string.Empty)">
                                        <div class="forumlisttitle">
                                            @item.Title
                                        </div>
                                        <div class="forumlistdescription">
                                            <span class="badge badge-dark d-inline">@SharedLocalizer[item.Language.ToString()]</span>
                                            <span class="d-inline">@SharedLocalizer["by {0} {1}", item.AuthorName, item.CreatedRelativeTime]</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-1 d-none d-sm-block p-2">
                                <a asp-area="community" asp-controller="forum" asp-action="viewtopic" asp-route-id="@item.Id" class="stretched-link">
                                    <div class="d-flex flex-column align-items-center p-2">
                                        <div class="p-2 bd-highlight">@item.ReplyCount</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-lg-1  d-none d-md-block p-2">
                                <div class="verticaldivider"></div>
                                <a asp-area="community" asp-controller="forum" asp-action="viewtopic" asp-route-id="@item.Id" class="stretched-link">
                                    <div class="d-flex flex-column align-items-center p-2">
                                        <div class="p-2 bd-highlight">@item.ViewCount</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-4 d-none d-lg-block p-2 clickablelink htmlcontent">
                                <div class="d-flex flex-row p-2">
                                    @if (item.LatestReply != null)
                                    {
                                        var authorUrl = Url.Action("details", "profile", new { area = string.Empty, userHandler = item.LatestReply.UserHandler });
                                        var authorLink = string.Format("<a href=\"{0}\" class=\"boldlink\">{1}</a>", authorUrl, item.LatestReply.AuthorName);

                                        var lastReplyUrl = Url.Action("viewtopiclatest", "forum", new { area = "community", id = item.Id });
                                        var lastReplyLink = string.Format("<a href=\"{0}\" class=\"boldlink\">{1}</a>", lastReplyUrl, item.LatestReply.CreatedRelativeTime);

                                        <div class="mr-2">
                                            <a href="@authorUrl">
                                                <img class="rounded-circle border" src="@item.LatestReply.AuthorPicture" alt="This is @item.LatestReply.AuthorName">
                                            </a>
                                        </div>

                                        <div class="d-flex flex-column align-items-left forumlistdescription">
                                            @Html.Raw(string.Format("{0} <span>{1}</span>", authorLink, SharedLocalizer["replied {0}", lastReplyLink]))
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="p-2">-</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row px-3 text-uppercase">
            <div class="col-12">&nbsp;</div>
        </div>
    </div>

    Model.Pagination.PaginationMessage = string.Empty;
    Model.Pagination.Bottom = true;

    <div class="ml-2">
        <partial name="_Pagination" model="Model.Pagination" />
    </div>
}