@model IEnumerable<GamificationLevelViewModel>

@{
    var canInteract = User.Identity.IsAuthenticated;

    Layout = null;

    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "There are no Gamification Levels on the platform!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["gamification level"] : (string)ViewData["ListDescription"];
}

<div class="bg-light pt-2">
    <div class="col-12">
        <h2>@SharedLocalizer[description]<span class="float-right">@Model.Count()</span></h2>
    </div>

    @if (!Model.Any())
    {
        <partial name="_ListNoItems" model="noItemsModel" />
    }
    else
    {
        <div class="col-12 bg-white square-top table-responsive pb-1">
            <table class="table table-hover">
                <caption class="sr-only">@SharedLocalizer["The available gamification levels."]</caption>
                <thead>
                    <tr class="text-capitalize">
                        <th scope="col" class="text-center">@SharedLocalizer["Number"]</th>
                        <th scope="col" class="text-right"><span class="text-nowrap">@SharedLocalizer["Max XP"]</span></th>
                        <th scope="col">@SharedLocalizer["Name"]</th>
                        <th scope="col" class="text-right text-wrap" style="width:1px">@SharedLocalizer["actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="row-clickable">
                        <td class="text-center"><span>@item.Number</span></td>
                        <td class="text-right"><span>@item.XpToAchieve</span></td>
                        <td class="col"><span>@item.Name</span></td>
                        <td class="text-right">
                            @if (canInteract)
                            {
                                <div class="btn-group  text-capitalize" role="group">
                                    <a asp-area="staff" asp-controller="gamificationlevel" asp-action="edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info my-1"><span class="text-nowrap"><i class="fas fa-fw fa-edit" aria-hidden="true"></i> @SharedLocalizer["edit"]</span></a>
                                    <button class="btn btn-sm btn-outline-info dropdown-toggle my-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right btn-sm p-1" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-30px, 38px, 0px);">
                                        <a class="dropdown-item text-danger btn-trash py-2 btn-entity-delete" href="#" data-url="@Url.Action("delete", "gamificationlevel", new { area = "staff", id = item.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Gamification Level?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]"><i class="fas fa-fw fa-trash-alt" aria-hidden="true"></i> @SharedLocalizer["delete"]</a>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>