@model IUserGeneratedContent
@{
    Layout = null;

    var area = Model.Area ?? string.Empty;
    var controller = Model.Controller ?? "content";
}

<div class="user-block">
    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-userHandler="@Model.UserHandler">
        <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
    </a>
    <span class="username"><a asp-area="" asp-controller="profile" asp-action="details" asp-route-userHandler="@Model.UserHandler">@SharedLocalizer["by {0}", Model.AuthorName]</a></span>

    <a asp-area="@area" asp-controller="@controller" asp-action="details" asp-route-id="@Model.Id" class="contenturl">
        <span class="description">@SharedLocalizer["at {0}", Model.CreateDate.ToString()]</span>
    </a>
</div>