@model IUserGeneratedContent
@{
    Layout = null;

    var url = string.IsNullOrWhiteSpace(Model.Url) ? "#" : Model.Url;
}

<div class="user-block">
    <a asp-area="" asp-controller="profile" asp-action="details" asp-route-userHandler="@Model.UserHandler">
        <img class="rounded-circle" src="@Model.AuthorPicture" alt="This is @Model.AuthorName">
    </a>
    <span class="username"><a asp-area="" asp-controller="profile" asp-action="details" asp-route-userHandler="@Model.UserHandler">@SharedLocalizer["by {0}", Model.AuthorName]</a></span>

    <a href="@url" class="contenturl">
        <span class="description">@SharedLocalizer["at {0}", Model.CreateDate.ToString()]</span>
    </a>
</div>