@{
    Layout = null;
}
<div class="row gameidea big py-3">
    <div class="col-12 text-center mb-3">
        <button id="btnGenerateGameIdea" class="generatebutton text-uppercase">@SharedLocalizer["generate"]</button>
    </div>
    <div class="col-12 col-md-6 col-lg p-3 px-md-1 px-lg-3 text-center rounded-0 bg-warning">
        <h2 class="text-uppercase">@SharedLocalizer["Genre"]</h2>
        <div class="slot btn-slot-genre mb-2">
            <div class="align-middle game-idea-element game-idea-genre"></div>
        </div>
        <span>@SharedLocalizer["The style of the game"]</span>
    </div>
    <div class="col-12 col-md-6 col-lg p-3 px-md-1 px-lg-3 text-center rounded-0 bg-danger">
        <h2 class="text-uppercase">@SharedLocalizer["Action"]</h2>
        <div class="slot btn-slot-action mb-2">
            <div class="game-idea-element game-idea-action"></div>
        </div>
        <span>@SharedLocalizer["What you must do"]</span>
    </div>
    <div class="col-12 col-md-6 col-lg p-3 px-md-1 px-lg-3 text-center rounded-0 bg-info">
        <h2 class="text-uppercase">@SharedLocalizer["Thing"]</h2>
        <div class="slot btn-slot-things mb-2">
            <div class="game-idea-element game-idea-things"></div>
        </div>
        <span>@SharedLocalizer["Element of the game"]</span>
    </div>
    <div class="col-12 col-md-6 col-lg p-3 px-md-1 px-lg-3 text-center rounded-0 bg-success">
        <h2 class="text-uppercase">@SharedLocalizer["Goal"]</h2>
        <div class="slot btn-slot-goals mb-2">
            <div class="game-idea-element game-idea-goals"></div>
        </div>
        <span>@SharedLocalizer["Ultimate target"]</span>
    </div>
    <div class="col-12 col-lg p-3 px-md-1 px-lg-3 text-center rounded-0 bg-secondary">
        <h2 class="text-uppercase">@SharedLocalizer["Rule"]</h2>
        <div class="slot btn-slot-rules mb-2">
            <div class="game-idea-element game-idea-rules"></div>
        </div>
        <span>@SharedLocalizer["Obstacle to overcome"]</span>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <div class="col-12">
            <span class="display-4">@SharedLocalizer["Can you make this game?"]</span>
        </div>
    </div>
</div>