@model ForumCategoryViewModel

@{
    Layout = null;

    ViewData["Title"] = SharedLocalizer["{0} Forum Category", (Model.Id == Guid.Empty ? "New" : "Edit")];

    var isNew = Model.Id == Guid.Empty;

    var forumGroups = ViewData["ForumGroups"] as List<SelectListItem>;
}

<h1 class="sr-only">@ViewData["Title"]</h1>

<div class="box bg-white">

    <div class="box-header with-border">
        <div class="float-left mr-3">
            <a asp-area="staff" asp-controller="forumcategory" asp-action="index" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
        <h3 class="card-title">@SharedLocalizer["You are {0} a Forum Category", (isNew ? SharedLocalizer["creating"] : SharedLocalizer["editing"])]</h3>
        <span class="card-subtitle">
            @SharedLocalizer["Tell us about the Forum Category."]
        </span>
        @if (!isNew)
        {
            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn  btn-box-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right btn-sm p-1" x-placement="bottom-start" style="position: absolute; transform: translate3d(-67px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        @if (Model.Permissions.CanDelete)
                        {
                            <a class="dropdown-item btn-entity-delete" href="#" data-url="@Url.Action("delete", "forumcategory", new { area = "staff", id = Model.Id, edit = true })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Forum Category?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]">@SharedLocalizer["delete"]</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="box-body p-0 px-md-2">
        <form id="frmSave" asp-area="staff" asp-controller="forumcategory" asp-action="save" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="FeaturedImage" />

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Handler" class="col-form-label"></label>
                        <span asp-description-for="Handler" class="col-form-label"></span>
                        <input asp-for="Handler" class="form-control" placeholder="@SharedLocalizer["Type the Forum Category handler here"]" />
                        <span asp-validation-for="Handler" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Icon" class="col-form-label"></label>
                        <span asp-description-for="Icon" class="col-form-label"></span>
                        <input asp-for="Icon" class="form-control" placeholder="@SharedLocalizer["Choose an icon for this category."]" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label"></label>
                        <span asp-description-for="Name" class="col-form-label"></span>
                        <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer["Type the Forum Category name here"]" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label"></label>
                        <span asp-description-for="Description" class="col-form-label"></span>
                        <textarea asp-for="Description" class="form-control" placeholder="@SharedLocalizer["Describe the Forum Category here"]"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label text-capitalize">@SharedLocalizer["group"]</label>
                        <select asp-for="GroupId" asp-items="@forumGroups" class="form-control select2">
                            <option selected="selected" value="">@SharedLocalizer["Select"]</option>
                        </select>
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group switch">
                        <label asp-for="IsForGameJam" class="col-form-label"></label>
                        <label class="switch left">
                            <input asp-for="IsForGameJam" type="checkbox" class="default" />
                            <span class="slider round"></span>
                        </label>
                        <span asp-description-for="IsForGameJam" class="col-form-label"></span>
                    </div>
                </div>

                <div class="col-md-12 text-center mt-4 px-5">
                    <div class="pb-3 px-3 mb-3 mx-auto d-block text-center bg-light bordered hover newimageupload">
                        <div class="form-group m-0">
                            <label asp-for="FeaturedImage" class="col-form-label"></label>
                            <span asp-description-for="FeaturedImage" class="col-form-label"></span>
                        </div>
                        <div class="w-100">
                            <img class="rounded img-fluid border w-100 square-bottom uploadimage" id="featuredImage" src="@Model.FeaturedImage" data-aspectratio="40/21" alt="@Html.DisplayNameFor(x => x.FeaturedImage)" data-default-img="@Constants.DefaultGamejamThumbnail">
                        </div>
                        <div class="row no-gutters">
                            <div class="col-12">
                                <label class="btn btn-block btn-outline-secondary square-top text-uppercase" data-toggle="tooltip" title="" data-original-title="@SharedLocalizer["Click here to change this image"]">
                                    <i class="fas fa-fw fa-upload" aria-hidden="true"></i>
                                    <span>@SharedLocalizer["change"]</span>
                                    <input type="file" class="sr-only imageinput" accept="image/*" data-target-img="featuredImage" data-target-hidden="FeaturedImage">
                                    <input type="hidden" asp-for="FeaturedImage" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8 mt-1 mb-2">
                    <button type="button" id="btnSave" class="btn btn-lg btn-primary btn-block" data-error-msg="<i class='fas fa-exclamation-circle' aria-hidden='true'></i> @SharedLocalizer["Something is missing!"]"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_CropModal" />