@model ForumPostViewModel

@{
    Layout = null;

    ViewData["Title"] = SharedLocalizer["{0} Forum Post", (Model.Id == Guid.Empty ? "New" : "Edit")];

    var isNew = Model.Id == Guid.Empty;
}

<h1 class="sr-only">@ViewData["Title"]</h1>

<div class="box bg-white posttopic">

    <div class="box-header with-border">
        <div class="float-left mr-3">
            <a asp-area="community" asp-controller="forum" asp-action="category" asp-route-handler="@Model.CategoryHandler" class="btn btn-outline-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
        <h3 class="card-title">@SharedLocalizer["You are {0} a Forum Post", (isNew ? SharedLocalizer["creating"] : SharedLocalizer["editing"])]</h3>
        <span class="card-subtitle">
            @SharedLocalizer["Tell us about the Forum Post."]
        </span>
        @if (!isNew)
        {
            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn  btn-box-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right btn-sm p-1" x-placement="bottom-start" style="position: absolute; transform: translate3d(-67px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                        @if (Model.Permissions.CanDelete)
                        {
                            <a class="dropdown-item btn-entity-delete" href="#" data-url="@Url.Action("delete", "forumpost", new { area = "community", id = Model.Id, edit = true })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Forum Post?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]">@SharedLocalizer["delete"]</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="box-body p-0 px-md-2">
        <form id="frmSave" asp-area="community" asp-controller="forum" asp-action="savepost" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="ForumCategoryId" />
            <input type="hidden" asp-for="IsOriginalPost" />
            <input type="hidden" asp-for="OriginalPostId" />

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Title" class="col-form-label"></label>
                        <span asp-description-for="Title" class="col-form-label"></span>
                        <input asp-for="Title" class="form-control" placeholder="@SharedLocalizer["Type the Forum Post title here"]" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Content" class="col-form-label"></label>
                        <span asp-description-for="Content" class="col-form-label"></span>
                        <textarea asp-for="Content" class="form-control wysiwygeditor" placeholder="@SharedLocalizer["Describe the Forum Post here"]"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Language"></label>
                        <select asp-for="Language" asp-items="Html.GetEnumSelectList<SupportedLanguage>()" class="form-control"></select>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-6 offset-lg-6 col-xl-4 offset-xl-8 mt-1 mb-2">
                    <button type="button" id="btnSave" class="btn btn-lg btn-primary btn-block" data-error-msg="<i class='fas fa-exclamation-circle' aria-hidden='true'></i> @SharedLocalizer["Something is missing!"]"><i class="fas fa-save" aria-hidden="true"></i> @SharedLocalizer["Save"]</button>
                </div>
            </div>
        </form>
    </div>
</div>