@model ForumIndexViewModel

@{
    var canInteract = User.Identity.IsAuthenticated;

    Layout = null;

    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "There are no Forums here!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["Forum Category"] : (string)ViewData["ListDescription"];
}

@for (int i = 0; i < Model.Groups.Count(); i++)
{
    var group = Model.Groups.ElementAt(i);

    <div class="card mt-2">
        <div class="card-header" id="@string.Format("heading{0}", group.Slug)" data-toggle="collapse" href="#@group.Slug" aria-expanded="true" aria-controls="#@group.Slug">
            <div class="text-nowrap text-white">@group.Name<span class="d-none d-lg-inline"> - @group.Description</span></div>
        </div>

        <div id="@group.Slug" class="square-top bg-white collapse show" aria-labelledby="@string.Format("heading{0}", group.Slug)">
            <div class="card-body p-0 rounded-0">
                <hr />
                <partial name="_ListCategoriesInSingleGroup" model="@group.Categories" />
            </div>
        </div>
    </div>
}