@{
    ViewData["Title"] = SharedLocalizer["Forum"];
    ViewData["Description"] = SharedLocalizer["Discuss game development subjects with other fellow gamedevs."];
    ViewData["Url"] = ViewData["BaseUrl"] + Url.Action("index", "forum", new { area = "community" });
    ViewData["OgImage"] = ViewData["BaseUrl"] + "/images/og/ogforums.png";
    ViewData["OgImageWidth"] = 1200;
    ViewData["OgImageHeight"] = 630;

    var isAjax = ViewContext.HttpContext.Request.IsAjaxRequest();
    var canInteract = User.Identity.IsAuthenticated;

    if (isAjax)
    {
        Layout = null;
    }

    var showAds = (bool)(ViewData["ShowAds"] ?? false);
}

@section ComponentStyles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/_feature.css">
        <link rel="stylesheet" href="~/css/forum.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/forum.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/shared/pagination.js"></script>
        <script src="~/js/forum/forumcommon.js"></script>
        <script src="~/js/forum/forum.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/forum/forum.min.js" asp-append-version="true"></script>
    </environment>
}

@section TranslatedMessages {
    <span class="msg" data-msg-id="msgUrlPlaceholder">@SharedLocalizer["placeholder message"]</span>
}

<section class="content container">
    <div id="featurecontainer" class="pb-3">
        <input type="hidden" id="isajax" value="@isAjax.ToString().ToLower()" />
        <input type="hidden" id="urls" value="urls"
               data-url-list="@Url.Action("categoriesbygroup", "forum", new { area = "community" })" />

        <div id="containerlist" class="row">
            <div class="col-12 mb-2 mx-2 text-uppercase">
                <h1 class="h3"><i class="fas fa-fw fa-comments" aria-hidden="true"></i> @ViewData["Title"]</h1>
            </div>
        </div>
        <div class="col-12">
            <div class="row p-2 mb-3 bg-white">
                <div class="col-12 col-md-7 forum-headermessage">
                    <span class="align-middle">@SharedLocalizer["Interact with your fellow game devs."]</span>
                </div>
                @*<div class="col-12 col-md-5 p-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@SharedLocalizer["Search Forums"]" aria-label="@SharedLocalizer["Search Forums"]">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="button">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

        @if (showAds)
        {
            <div class="col-12 rounded-0 p-0 px-lg-5 mb-2 mx-auto">
                <partial name="_GoogleAdFeed" />
            </div>
        }

        <div class="row">
            <div id="divList" class="col-12"></div>
        </div>
    </div>
</section>