@model IEnumerable<BillRateViewModel>

@{
    var canInteract = User.Identity.IsAuthenticated;

    Layout = null;

    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "You don't have any Bill Rates!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["Bill Rates"] : (string)ViewData["ListDescription"];
}

<div class="bg-light pt-2">
    <div class="col-12">
        <h2>@SharedLocalizer[description]<span class="float-right">@Model.Count()</span></h2>
    </div>

    @if (!Model.Any())
    {
        <partial name="_ListNoItems" model="noItemsModel" />
    }
    else
    {
        <div class="col-12 bg-white square-top table-responsive pb-1">
            <table class="table table-hover">
                <caption class="sr-only">@SharedLocalizer["The available bill rates."]</caption>
                <thead>
                    <tr class="text-capitalize">
                        <th scope="col" colspan="2">@SharedLocalizer["element"]</th>
                        <th scope="col" class="text-center">@SharedLocalizer["style"]</th>
                        <th scope="col" class="text-right">@SharedLocalizer["USD/element"]</th>
                        <th scope="col" class="text-right">@SharedLocalizer["USD/hour"]</th>
                        <th scope="col" class="text-right">@SharedLocalizer["hours"]</th>
                        <th scope="col" class="text-right">@SharedLocalizer["actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row-clickable">
                            <td class="text-center"><a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id"><i class="@item.Icon" style="line-height:40px" aria-hidden="true"></i></a></td>
                            <td><a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id"><span>@SharedLocalizer[item.GameElement.ToUiInfo().Display]</span></a></td>
                            <td class="text-center">
                                <a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id">
                                    @switch (item.BillRateType)
                                    {
                                        case BillRateType.Visual:
                                            <span>@SharedLocalizer[item.ArtStyle.HasValue ? item.ArtStyle.Value.ToUiInfo().Display : string.Empty]</span>
                                            break;
                                        case BillRateType.Audio:
                                            <span>@SharedLocalizer[item.SoundStyle.HasValue ? item.SoundStyle.Value.ToUiInfo().Display : string.Empty]</span>
                                            break;
                                        default:
                                            <span>-</span>
                                            break;
                                    }
                                </a>
                            </td>
                            <td class="text-right"><a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id"><span>@(item.ElementPrice == 0 ? "-" : item.ElementPrice.ToString())</span></a></td>
                            <td class="text-right"><a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id"><span>@item.HourPrice.ToString()</span></a></td>
                            <td class="text-right"><a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id"><span>@(item.HourQuantity == 0 ? "-" : item.HourQuantity.ToString())</span></a></td>
                            <td class="text-right">
                                @if (canInteract)
                                {
                                    <div class="btn-group  text-capitalize" role="group">
                                        <a asp-area="member" asp-controller="billrate" asp-action="edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info my-1"><span class="text-nowrap"><i class="fas fa-fw fa-edit" aria-hidden="true"></i> @SharedLocalizer["edit"]</span></a>
                                        <button class="btn btn-sm btn-outline-info dropdown-toggle my-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right btn-sm p-1" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-30px, 38px, 0px);">
                                            <a class="dropdown-item text-danger btn-trash py-2 btn-billrate-delete" href="#" data-url="@Url.Action("delete", "billrate", new { area = "member", id = item.Id })" data-confirmationmessage="@SharedLocalizer["Are you sure you want to delete this Bill Rate?"]" data-confirmationtitle="@SharedLocalizer["Are you sure?"]" data-confirmationbuttontext="@SharedLocalizer["Yes, delete it!"]" data-cancelbuttontext="@SharedLocalizer["Cancel"]"><i class="fas fa-fw fa-trash-alt" aria-hidden="true"></i> @SharedLocalizer["delete"]</a>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>