@model BillRateViewModel
@{
    ViewData["Title"] = SharedLocalizer["Bill Rate for..."];
    ViewData["Description"] = SharedLocalizer["Created on {0} | LUDUSTACK", Model.CreateDate.ToString()];
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "billrates", new { area = "member", id = Model.Id });
    //ViewData["OgImage"] = Model.FeaturedImage;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/billrates.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/billrates.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {

    <environment include="Development">
        <script src="~/js/billrates/billratesdetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/billrates/billratesdetails.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content container">
    <div class="box box-content p-0 bg-white">
        <h1 class="float-left sr-only">
            @ViewData["Title"]
        </h1>

        <div class="box-body mt-n3">
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Type</label>
                </div>
                <div class="col">
                    <label class="col-form-label">@SharedLocalizer[Model.BillRateType.ToString()]</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Game Element</label>
                </div>
                <div class="col">
                    <label class="col-form-label">@SharedLocalizer[Model.GameElement.ToString()]</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Hour Price</label>
                </div>
                <div class="col">
                    <label class="col-form-label">@Model.HourPrice</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Hour Quantity</label>
                </div>
                <div class="col">
                    <label class="col-form-label">@Model.HourQuantity</label>
                </div>
            </div>
        </div>
    </div>
</section>