@model IEnumerable<GameJamViewModel>

@{
    var canInteract = User.Identity.IsAuthenticated;

    Layout = null;

    var noItemsModel = new ListNoItemsViewModel("fas fa-dizzy", "There are no Game Jams here!");

    var description = ViewData["ListDescription"] == null ? SharedLocalizer["Game Jam"] : (string)ViewData["ListDescription"];
}

@if (!Model.Any())
{
    <partial name="_ListNoItems" model="noItemsModel" />
}
else
{
    <div class="col-12">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                var shortDescription = SharedLocalizer[item.ShortDescription ?? item.Name];

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                    <div class="bg-white bordered hover gamejamitem" id="@($"gamejamcard-{item.Handler}")">
                        <input type="hidden" id="@($"secondstocountdown-{item.Handler}")" value="@item.SecondsToCountDown" class="hiddendate" />

                        <a asp-area="community" asp-controller="gamejam" asp-action="details" asp-route-handler="@item.Handler">
                            <div class="border-bottom square-bottom gamejamitemimage">
                                <img src="@item.FeaturedImage" class="img-fluid w-100 square-bottom card-img" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="@shortDescription" alt="@item.Name" />
                            </div>
                            <div class="position-absolute ml-1 mt-n3 shadow-sm">
                                <span class="badge badge-dark d-inline">@SharedLocalizer[item.Language.ToString()]</span>
                            </div>

                            <partial name="_GameJamCounter" model="@new KeyValuePair<GameJamPhase, string>(item.CurrentPhase, item.CountDownMessage)" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}