@model GameJamViewModel

@{
    ViewData["Title"] = Model.Name;
    ViewData["Description"] = Model.Description;
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "gamejam", new { area = "community", id = Model.Id });
    ViewData["OgImage"] = Model.FeaturedImage;
    ViewData["OgType"] = "article";

    if (!string.IsNullOrWhiteSpace(Model.BackgroundImage))
    {
        ViewData["BackgroundImage"] = Model.BackgroundImage;
    }

    var showAds = (bool)(ViewBag.ShowAds ?? false);

    var authorUrl = Url.Action("details", "profile", new { area = string.Empty, userHandler = Model.AuthorHandler });
    var authorLink = string.Format("<a href=\"{0}\" class=\"boldlink\">{1}</a>", authorUrl, Model.AuthorName);

    Model.Permissions.CanJoin = Model.Permissions.CanJoin && User.Identity.IsAuthenticated;

    var showMainTheme = !string.IsNullOrWhiteSpace(Model.MainTheme) && (Model.CurrentPhase != GameJamPhase.Warmup || !Model.HideMainTheme);
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/gamejamdetails.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/gamejamdetails.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {

    <environment include="Development">
        <script src="~/js/shared/fx.js"></script>
        <script src="~/js/gamejam/gamejamdetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/shared/fx.js"></script>
        <script src="~/js/gamejam/gamejamdetails.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content container">
    <div id="featurecontainer" class="col htmlcontent">
        <input asp-for="SecondsToCountDown" type="hidden" />

        @if (!string.IsNullOrWhiteSpace(Model.BannerImage))
        {
            <div class="mb-3 text-center">
                <img src="@Model.BannerImage" class="img-fluid rounded" />
            </div>
        }

        <div class="box bg-light">
            <div class="row mx-2">
                <div class="mr-auto d-flex flex-column justify-content-center">
                    <h1 class="m-0 text-capitalize">@Model.Name</h1>
                    <span class="text-center text-muted">@Html.Raw(SharedLocalizer["Hosted by {0}", authorLink])</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <span class="h3 text-center">@Model.JoinCount</span>
                    <span class="text-center text-muted">@SharedLocalizer["participants"]</span>
                </div>
            </div>

            <div class="text-center mx-auto p-2 mt-n2">
                <div class="d-flex flex-row justify-content-center">
                    <div class="p-3 row justify-content-center bg-white bordered">
                        <partial name="_GameJamCounter" model="@new KeyValuePair<GameJamPhase, string>(Model.CurrentPhase, Model.CountDownMessage)" />
                    </div>
                </div>
                @if (Model.CurrentPhase != GameJamPhase.Finished && Model.CurrentPhase != GameJamPhase.Results)
                {
                    <div class="d-flex flex-row justify-content-center mt-n3">
                        @if (Model.Permissions.CanJoin)
                        {
                            <button class="btn btn-lg btn-success btn-join text-uppercase" data-url="@Url.Action("join", "gamejam", new { area = "community" })">@SharedLocalizer["join now"]</button>
                        }
                        else
                        {
                            <button class="btn btn-lg btn-default disabled" disabled="disabled">@SharedLocalizer["can't join"]</button>
                        }
                    </div>
                }
            </div>

            @if (showMainTheme)
            {
                <div class="text-center mx-auto p-2 alert alert-dark">
                    <span class="h4">@Model.MainTheme</span>
                </div>
            }

            <div>
                <div class="bg-white mx-auto p-3">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</section>