@model GameJamViewModel

@{
    ViewData["Title"] = Model.Name;
    ViewData["Description"] = Model.Description;
    ViewData["Url"] = ViewBag.BaseUrl + Url.Action("details", "gamejam", new { area = "community", id = Model.Id });
    ViewData["OgImage"] = Model.FeaturedImage;

    if (!string.IsNullOrWhiteSpace(Model.BackgroundImage))
    {
        ViewData["BackgroundImage"] = Model.BackgroundImage;
    }

    var showAds = (bool)(ViewBag.ShowAds ?? false);

    var authorUrl = Url.Action("details", "profile", new { area = string.Empty, userHandler = Model.AuthorHandler });
    var authorLink = string.Format("<a href=\"{0}\" class=\"boldlink text-nowrap\">{1}</a>", authorUrl, Model.AuthorName);

    Model.Permissions.CanJoin = Model.Permissions.CanJoin && User.Identity.IsAuthenticated;

    var hasBanner = !string.IsNullOrWhiteSpace(Model.BannerImage);
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/gamejamdetails.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/gamejamdetails.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {

    <environment include="Development">
        <script src="~/js/shared/fx.js"></script>
        <script src="~/js/gamejam/gamejamdetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/shared/fx.js"></script>
        <script src="~/js/gamejam/gamejamdetails.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="content container">
    <div id="featurecontainer">
        <input asp-for="SecondsToCountDown" type="hidden" />

        <div class="row mb-3 ">

            @if (hasBanner)
            {
                <div class="col-12 col-md-6 text-center">
                    <a href="@Url.Action("details", "gamejam", new { area = "community", handler = Model.Handler })">
                        <img src="@Model.BannerImage" class="img-fluid rounded jambanner" alt="@Model.Name" />
                    </a>
                </div>
            }
            <div class="@(hasBanner ? "col-12 col-md-6" : "col-12") d-flex flex-row justify-content-center">
                <div class=" d-flex flex-column justify-content-center">
                    <div class="p-3 row justify-content-center bg-white bordered">
                        <partial name="_GameJamCounter" model="@new KeyValuePair<GameJamPhase, string>(Model.CurrentPhase, Model.CountDownMessage)" />
                    </div>
                    @if (Model.CurrentPhase == GameJamPhase.Warmup || Model.CurrentPhase == GameJamPhase.Submission)
                    {
                        <div class="d-flex flex-row justify-content-center mt-n3">
                            <div class="bg-white">
                                @if (Model.Permissions.CanJoin)
                                {
                                    if (Model.CurrentUserJoined)
                                    {
                                        <a class="btn btn-lg btn-outline-success text-uppercase" href="@Url.Action("myentry", "gamejam", new { area = "community", jamHandler = Model.Handler })">@SharedLocalizer["my entry"]</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-lg btn-success btn-join text-uppercase" data-url="@Url.Action("join", "gamejam", new { area = "community", jamId = Model.Id, handler = Model.Handler })">@SharedLocalizer["join now"]</button>
                                    }
                                }
                                else
                                {
                                    <button class="btn btn-lg btn-default disabled btn-cantjoin" data-msg="@SharedLocalizer[Model.CantJoinMessage ?? string.Empty]">@SharedLocalizer["can't join"]</button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="box bg-light">
            <div class="row mx-2 htmlcontent">
                <div class="mr-auto mb-2 d-flex flex-column justify-content-center">
                    <h1 class="m-0 text-capitalize">@Model.Name</h1>
                    <span class="text-left text-muted">@Html.Raw(SharedLocalizer["Hosted by {0}", authorLink])</span>
                </div>
                <div class="ml-auto mb-2 d-flex flex-column justify-content-center">
                    <span class="h3 text-center">@Model.JoinCount</span>
                    <span class="text-right text-muted">@SharedLocalizer[Model.JoinCount == 1 ? "participant" : "participants"]</span>
                </div>
            </div>

            <div class="text-center mx-auto p-2 alert alert-dark">
                @if (Model.ShowMainTheme)
                {
                    <span class="h4">@Model.MainTheme</span>
                }
                else
                {
                    <span class="h4">@SharedLocalizer["Only participants can see the main theme before the results."]</span>
                }
            </div>

            <ul class="nav nav-tabs text-capitalize" id="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#taboverview" role="tab" aria-controls="taboverview" aria-selected="true"><i class="fas fa-info-circle" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;@SharedLocalizer["overview"]</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="judges-tab" data-toggle="tab" href="#tabjudges" role="tab" aria-controls="tabjudges" aria-selected="false"><i class="fas fa-gavel" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;@SharedLocalizer["judges"]</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="participants-tab" data-toggle="tab" href="#tabparticipants" role="tab" aria-controls="tabparticipants" aria-selected="false" data-url="@Url.Action("listparticipants", "gamejam", new { area = "community", jamHandler = Model.Handler, jamId = Model.Id })"><i class="fas fa-user" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;@SharedLocalizer["participants"]</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="submissions-tab" data-toggle="tab" href="#tabsubmissions" role="tab" aria-controls="tabsubmissions" aria-selected="false" data-url="@Url.Action("listsubmissions", "gamejam", new { area = "community", jamHandler = Model.Handler, jamId = Model.Id })"><i class="fas fa-gamepad" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;@SharedLocalizer["submissions"]</span></a>
                </li>
            </ul>
            <div class="tab-content" id="tabsContent">
                <div class="tab-pane fade show active" id="taboverview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="bg-white mx-auto p-3 square-top htmlcontent">
                        @Html.Raw(Model.Description)
                    </div>

                    <hr />

                    <div class="row m-2 justify-content-center">
                        @foreach (var highlight in Model.Highlights)
                        {
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                                <div class="border bg-dark text-white p-1" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@highlight.Highlight.ToUiInfo().Description">
                                    <span class="btn border p-1 rounded-circle btn-icon-sm bg-label"><i class="fas fa-@(highlight.Highlight.ToUiInfo().Class)" aria-hidden="true"></i></span>
                                    <span>@SharedLocalizer[highlight.Highlight.ToUiInfo().Display]</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade p-2 bg-white" id="tabjudges" role="tabpanel" aria-labelledby="judges-tab">
                    <div class="col-12 text-center">
                        @if (Model.Judges.Count == 1)
                        {
                            <span>@SharedLocalizer["Just 1 user will judge the submissions"]</span>
                        }
                        else
                        {
                            <span>@SharedLocalizer["{0} users will judge the submissions", Model.Judges.Count]</span>
                        }
                    </div>
                    <div class="row justify-content-center">
                        @for (int i = 0; i < Model.JudgesProfiles.Count; i++)
                        {
                            var judge = Model.JudgesProfiles.ElementAt(i);

                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                                <input type="hidden" name="Judges[@i]" value="@judge.UserId" />
                                <div class="bordered">
                                    <partial name="_UserCard" model="judge" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade p-2 bg-white" id="tabparticipants" role="tabpanel" aria-labelledby="participants-tab">...</div>
                <div class="tab-pane fade p-2 bg-white" id="tabsubmissions" role="tabpanel" aria-labelledby="submissions-tab">...</div>
            </div>
        </div>
    </div>
</section>